<html>
    <head>
        <title>LSD Server</title>
    </head>
    <body>
        <h1>LSD Server</h1>
        <p>
            <a href="platform">platform</a><br />
            <a href="sensor">sensor</a><br />
            <a href="parameter">parameter</a><br />
            <a href="phenomena">phenomena</a><br />
            <a href="flag">flag</a><br />
            <a href="observation">observation</a><br />
        </p>
        <image src="http://lod-cloud.net/versions/2010-09-22/lod-cloud_colored.png" alt="linked data" />
    </body>
<html>
