<!DOCTYPE html>
<html>
    <head>
        <link rel=stylesheet type=text/css href="{{url_for('static', filename='style.css')}}">
        <title>Platform:  {{platform_id}}</title>
    </head>
    <body>
        <h1>Platform: {{platform_id}}</h1>
        {% if data %}
        <table>
            <tr>
                <th>platform_id</th>
                <th>name</th>
                <th>description</th>
                <th>info</th>
                <th>location</th>
            </tr>
            <tr>
                <td><a href="./{{data.platform_id}}">{{ data.platform_id }}</a></td>
                <td>{{ data.name }}</td>
                <td>{{ data.description }}</td>
                <td>{{ data.info }}</td>
                <td>{{ data.location }}</td>
            </tr>
        </table>
        {% else %}
            NONE FOUND!
        {% endif %}
    </body>
</html>
